<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/fonts/fontawesome/style.css' />
    {{#each includeCss}}
        <link rel='stylesheet' href='{{this}}' />
    {{/each}}
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,800&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- fixed scripts-->
    <script src="/js/lib/es6-promise.min.js"></script>
    <script src="/js/lib/sass.sync.js"></script>
    <script src="/js/lib/axios.min.js"></script>
    <script src="/js/lib/moment.min.js"></script>
    <script src="/js/lib/vue.js"></script>
    <script src="/js/lib/httpVueLoader.js"></script>
    <script src="/js/lib/js.cookie.min.js"></script>
    <script src="/js/lib/jwt-decode.min.js"></script>

    <!--httpVueLoader - scss loader-->
    <script>httpVueLoader.langProcessor.scss=function(scssText){return new Promise(function(resolve,reject){Sass.compile(scssText,function(result){result.status===0?resolve(result.text):reject(result)})})}</script>
    <!--httpVueLoader - replace default http-->
    <script>httpVueLoader.httpRequest=function(url){return axios.get(url).then(function(res){return res.data}).catch(function(err){return Promise.reject(err.status)})}</script>
</head>
<body>
<div class="header">
    <div class="inner">
        <a class="header--img" href="/">
            <img src="/assets/muzmessages-logo.png" alt="">
        </a>
        <div class="header--centre"><a class="button" href="/messages/new">+ Add a new message</a></div>
        <div class="header--right" id="header--right">
            {{{{raw}}}}
            <i class="icon sign-in" title="Log In" v-if="!user" @click="openLoginBox"></i>
            <user v-if="user" v-bind:user="user"></user>
            <i class="icon sign-out" title="Log Out" v-if="!!user" @click="signout"></i>

            <div id="login" v-bind:class="{ show: showLogin }" @click="onClickLoginBox">
                <form class="inner" @submit="signin">
                    <div class="error" v-if="!!error">{{error}}</div>
                    <div class="fieldInput email">
                        <input type="email" v-model="email" name="email" placeholder="Email">
                    </div>
                    <div class="fieldInput password">
                        <input :type="passFieldType" v-model="password" placeholder="Password">
                        <i class="icon eye clickable" v-if="isPassField" @click="togglePassField"></i>
                        <i class="icon eye-slash clickable" v-if="isTextField"  @click="togglePassField"></i>
                    </div>
                    <button type="submit" @click="signin">Login</button>
                </form>
            </div>
            {{{{/raw}}}}
        </div>
    </div>
</div>
<div class="body">
    <div class="body--center">{{{body}}}</div>
</div>

<!--scripts-->
<script src="/js/layout.js"></script>
{{#each includeJs}}
    <script src="{{this}}"></script>
{{/each}}
</body>
</html>
