<div class="message-page">
    <div class="message-section">
        <div class="message-section--header">
            <h1>{{message.title}}</h1>
            <div>
            <span class="meta-section" title="{{ messageDate }}">
                <span class="meta-section--title">{{ type }}</span>
                <span class="meta-section--value">{{ fromNow }}</span>
            </span>
                <span class="meta-section">
                <span class="meta-section--title">Viewed</span>
                <span class="meta-section--value">{{ message.views }}</span>
            </span>
            </div>
        </div>
        <div class="message-section--body">

        </div>
    </div>
    <div id="message-vue" class="comment-section">
        <comment v-for="comment of comments"
                 v-bind:key="comment.id"
                 v-bind:comment="comment"
        ></comment>
    </div>
</div>
<script>
    (function(Vue,http){
        let app = new Vue({
            el:"#message-vue",
            components: {
                'comment': httpVueLoader('/vue/comment.vue'),
            },
            data() {
                return {
                    message: void 0,
                    comments: []
                }
            },
            methods: {
                getComments() {
                    axios.get("/comments").then((comments) => {
                        this.comments = comments.data;
                    })
                }
            },
            created: function(){
                //this.getComments();
            }
        });
    })(Vue, axios);
</script>
